/* /* Some CSS Setup - nothing to do with flexbox */
/* everything between the dashed-lines have been unchanged  */
/* ---------------------------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* Wrapper Declaration */
/* -------------------------------------------------------------------------------------------------------------------------------------*/

/* Added justify content - center  */
/* Extended the max-width to 1250 to cover a larger percentage of the screen */

.wrapper {
  justify-content: center;
  max-width: 1250px;
  margin: 0 auto;
  padding: 50px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* Flex Container unordered list Declaration */
/* -------------------------------------------------------------------------------------------------------------------------------------*/

/* Display flex added to initalise the flex-box  */
/* Flex-direction set as row to set the direction of the flex-box main axis to horizontal (left-right)*/
/* Justify-content set as space-evenly to spread the items evenly across the flex-box */

.flex-nav ul {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;

  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* The above code block targetting ' .flex-nav ul ' produces an evenly spaced row but there were empty spaces in 
between and around which needed filling. To sort this out: items 1-6 needed a total width of 75% of the flexbox, 
and the social links needed the other 25%. The specific items were targetted by the nthchild() method. */


/* items 1-6 nth-child Declaration */
/* Setting the flex-growth as 1, flex-shrink as 0 and flex-basis as auto, distributes the item by using 
up empty space if there is any. */

.flex-nav ul li:nth-child(1){
  display:flex;
  flex: 1 0 auto;
}
.flex-nav ul li:nth-child(2){
  display:flex;
  flex: 1 0 auto;
}
.flex-nav ul li:nth-child(3){
  display:flex;
  flex: 1 0 auto;
}
.flex-nav ul li:nth-child(4){
  display:flex;
  flex: 1 0 auto;
}
.flex-nav ul li:nth-child(5){
  display:flex;
  flex: 1 0 auto;
}
.flex-nav ul li:nth-child(6){
  display:flex;
  flex: 1 0 auto;
}


/* List items: social icons - 25% total width each  */
/* Flex-growth was set to 0.5 (half the item 1) meant the social icons took 
up less of the unused space when flexing to fill the box. */

.flex-nav ul li:nth-child(7){
  display:flex;
  flex: 0.5 0 auto;
}
.flex-nav ul li:nth-child(8){
  display:flex;
  flex: 0.5 0 auto;
}
.flex-nav ul li:nth-child(9){
  display:flex;
  flex: 0.5 0 auto;
}
.flex-nav ul li:nth-child(10){
  display:flex;
  flex: 0.5 0 auto;
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* Flex-nav unorder list Declaration as a Media query for screen width of 1000px */
/* -------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1000px) {

/* Justify-content changes from space-evenly to space around */
/* Flex-wrap added to alter row dynamics further with nth-child targetting*/

  .flex-nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
  }

/* items 1-6 - 50% width each (they will become two columns)*/

  .flex-nav ul li:nth-child(1){
    width: 50%;
  }
  .flex-nav ul li:nth-child(2){
    width: 50%;
  }
  .flex-nav ul li:nth-child(3){
    width: 50%;
  }
  .flex-nav ul li:nth-child(4){
    width: 50%;
  }
  .flex-nav ul li:nth-child(5){
    width: 50%;
  }
  .flex-nav ul li:nth-child(6){
    width: 50%;
  }

/* social icons - 25% width: (thus 4 side-by-side needed to make a full row (100%) */

  .flex-nav ul li:nth-child(7){
    width: 25%;
  }
  .flex-nav ul li:nth-child(8){
    width: 25%;
  }
  .flex-nav ul li:nth-child(9){
    width: 25%;
  }
  .flex-nav ul li:nth-child(10){
    width: 25%;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* Flex-nav unorder list Declaration as a Media query for screen width of 1000px*/
/* -------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (max-width: 500px) {

/* no changes to the .flex-nav ul Declaration */
  .flex-nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
  }

/* items 1-6 - 100% width each (they will become two columns)*/

  .flex-nav ul li:nth-child(1){
    width: 100%;
  }
  .flex-nav ul li:nth-child(2){
    width: 100%;
  }
  .flex-nav ul li:nth-child(3){
    width: 100%;
  }
  .flex-nav ul li:nth-child(4){
    width: 100%;
  }
  .flex-nav ul li:nth-child(5){
    width: 100%;
  }
  .flex-nav ul li:nth-child(6){
    width: 100%;
  }

/* social icons - remained 25% width each (thus 4 side-by-side needed to make a full row (100%)*/

  .flex-nav ul li:nth-child(7){
    width: 25%;
  }
  .flex-nav ul li:nth-child(8){
    width: 25%;
  }
  .flex-nav ul li:nth-child(9){
    width: 25%;
  }
  .flex-nav ul li:nth-child(10){
    width: 25%;
  }
}
